/* eslint-disable react/no-unknown-property */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glass-panel {
        @apply bg-white/70 backdrop-blur-md border border-slate-200 shadow-xl;
    }
}

body {
    background-color: #f8fafc; /* slate-50 */
    color: #0f172a; /* slate-900 */
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.popup-overlay {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
}
